<%- include('header')-%>
<h3>Hello Contact Page</h3>
<p>What kind of contact information do you want? </p>
<p>Also.... what sort of social media links do you want to have? How are you planning on booking things? Link to AirBnB?</p>


<%- include('footer')-%>