<%- include('header') -%>

 <!-- Banner    -->
 <header id= "homeBanner" class="bg-primary py-5 mb-5">
    <div  class="container h-100">
      <div class="row h-100 align-items-center">
        <div id= "homeTitle" class="col-lg-12">
          <h1 class="display-4  mt-5 mb-2">Salida Opera House Loft</h1>
          <h5 class="lead mb-5 text-50"></h5>
        </div>
      </div>
    </div>
  </header>
 <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div class="col-lg-5 col-md-6 mb-5">
        <h2 class= "loft-description-title">The perfect Colorado getaway.</h2>
        <hr>
        <p>Come experience part of Downtown Salida History! This NEW condo is part of the historical Unique Theater renovation and filled with all the amenities that living in the heart of downtown Salida offers- walking distance to theaters, restaurants, art galleries and the Arkansas River walk</p>
        
        <a class="btn btn-outline-dark btn-lg" href="#">Reserve &raquo;</a>
      </div>
      <div class="col-md-3 ml-4 mb-5">
        <h5>Amenities</h5>
        <hr>
        <p>Spacious 2 bedroom, 2 bath loft featuring incredible mountain views, 20 ft. lofted ceilings, large private patio with grill and gas fire pit, flex-space with Murphy bed for additional sleeping space and loft area with futon.  Other amenities include 2 reserved parking spaces, Air Conditioning, Washer/Dryer, Gas Fireplace, Cable TV and Wireless Internet. </p>
        
      </div>
      <div class="col-md-3 ml-4 mb-5">
        <h5>Rates</h5>
        <hr>
        <h6>Peak</h6>
        <ul>
          <li>$200/night Mon –Thur</li>
          <li>$300/night Fri – Sat</li>
          <li>$1650/week</li>
        </ul>
        <h6>Off-Peak</h6>
        <ul>
          <li>$175/night Mon –Thur</li>
          <li>$250/night Fri – Sat</li>
          <li>$1100/week</li>
        </ul>
      </div>
      
    </div>
  </div>
  <div class = "container">
    <h2> Gallery </h2>    
    <div class= "row">
      <div class="col-lg-3 col-md-4 col-xs-6 p-3">
        <img src= "./../images/chairs.jpg" class="zoom img-fluid "  alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 p-3">
        <img src= "./../images/kitchen.jpg" class="zoom img-fluid "  alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 p-3">
        <img src= "./../images/pots.jpg" class="zoom img-fluid "  alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 p-3">
        <img src= "./../images/tap.jpg" class="zoom img-fluid "  alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 p-3">
        <img src= "./../images/window.jpg" class="zoom img-fluid "  alt="">
      </div>
      <div class="col-lg-3 col-md-4 col-xs-6 p-3">
        <img src= "./../images/couch.jpg" class="zoom img-fluid "  alt="">
      </div>
    </div>
  </div>
  <div class= "amenityReview container">
    <h2>Reviews</h2>
    <div class="row">
      <div class="col-md-4 mb-5">
        <div class="reviewCard card h-100">
          <div class="card-body">
            <h4 class="reviewTitle card-title">If felt like a 5 Star Resort</h4>
            <p class="reviewCardText card-text">“This place is gorgeous, the hosts were super communicative throughout the entire process. It felt like a 5 star resort- no better place in Salida!”</p>
            <p>— E.R.</p>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="reviewCard card h-100">
          <div class="card-body">
            <h4 class="reviewTitle card-title">This place is spectacular!</h4>
            <p class="reviewCardText card-text">“This place is spectacular! We spent a long weekend here and it had everything we could have wanted. They seemed to think of everything and it is a beautifully renovated space. The place was spotless and we did not have a single complaint. If you are traveling to Colorado, this is a wonderful place to stay!”</p>
            <p>- J.C.</p>
          </div>
          
        </div>
      </div>
      <div class="col-md-4 mb-5">
        <div class="reviewCard card h-100">
          <div class="card-body">
            <h4 class="reviewTitle card-title">Sed maximus vel velit ac rutrum.</h4>
            <p class="reviewCardText card-text">“Fusce nisl elit, dictum eget condimentum eu, elementum sed ante. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia. Pellentesque vel mattis turpis.”</p>
            <p>-J.Y</p>
          </div>
          
        </div>
      </div>
    </div>
  
  </div>


<%- include('footer') -%>