<%- include('header') -%>

 <!-- Banner    -->
 <header id= "homeBanner" class="bg-primary py-5 mb-5">
        <div  class="container h-100">
          <div class="row h-100 align-items-center">
            <div id= "homeTitle" class="col-lg-12">
              <h1 class="display-4  mt-5 mb-2">The Woodhouse</h1>
              <h5 class="lead mb-5 text-50"></h5>
            </div>
          </div>
        </div>
      </header>

<h1>Hello Wood House</h1>

<%- include('footer') -%>